<h1>Lista de Productos</h1>
<div class="box">
    <div id="divErrors"></div>
    <table id="tableProductos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody id="tbodyProductos">
        </tbody>
    </table>
</div>
